@media screen {

    * {
        font-family: "Impact";
        font-size: 30px;
    }

    body {
        padding: 50px;
    }

    #shuffle {
        font-weight: 800;
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 35px;
        background-color: white;
    }

    img.face {
        width: 90px;
        height: 90px;
        border-radius: 55px;
        margin: 3px;
    }
}
