
<style>
@media screen {

    * {
        font-family: "Impact";
        font-size: 30px;
    }

    body {
        padding-top: 50px;
        padding-left: 100px;
    }

    #shuffle {
      font-weight: 800;
      border-radius: 10px;
      margin-top: 10px;
      font-size: 35px;
      background-color: white;
    }

    students {
        display: block;
        width: 800px;
    }

    img.student {
        width: 90px;
        height: 90px;
        border-radius: 55px;
        margin: 3px;
    }
}
</style>

<script type="text/javascript"><!--

$(document).ready(function() {

  let image = function(filename) {
    return $('<img>', {
      'class':'student',
      'title':filename.substring(0,filename.indexOf('.')),
      'src':`img/${filename}`
     });
  };

  let tipped = function(node) {
    return node.tooltip({
      position: {
        my: 'center bottom-20',
        at: 'center top',
        using: function(position,feedback) {
          $(this).css(position);
          $('<div>')
            .addClass('arrow')
            .addClass(feedback.vertical)
            .addClass(feedback.horizontal)
            .appendTo(this);
        }
      }
    });
  };

  $('#shuffle').click(function() {
    window.location.reload();
  });

  $.ajax({
    url: '/images/index?shuffled=true',
    success: function(data){
      $(data).find('li').each(function() {
        let filename = $(this).text();
        let student = image(filename);
        $('students').append(tipped(student));
      });
    }
  });

});

//--></script>

<students></students>

<button id='shuffle'>shuffle</button>

